@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 215 28.0000% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28.0000% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28.0000% 17%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1000%;
    --secondary-foreground: 215.4000 16.3000% 46.9000%;
    --muted: 210 40% 96.1000%;
    --muted-foreground: 215.4000 16.3000% 46.9000%;
    --accent: 210 40% 96.1000%;
    --accent-foreground: 222.2000 47.4000% 11.2000%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3000 31.8000% 91.4000%;
    --input: 214.3000 31.8000% 91.4000%;
    --ring: 217 91% 60%;
    --chart-1: 217 91% 60%;
    --chart-2: 250 88% 66%;
    --chart-3: 280 85% 64%;
    --chart-4: 160 84% 39%;
    --chart-5: 48 96% 53%;
    --sidebar: 210 40% 98%;
    --sidebar-foreground: 215 28.0000% 17%;
    --sidebar-primary: 217 91% 60%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 217 91% 60%;
    --sidebar-border: 214.3000 31.8000% 91.4000%;
    --sidebar-ring: 217 91% 60%;
    --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 12px -2px hsl(220 9% 46% / 0.05);
    --shadow-xs: 0px 4px 12px -2px hsl(220 9% 46% / 0.05);
    --shadow-sm: 0px 4px 12px -2px hsl(220 9% 46% / 0.10), 0px 1px 2px -3px hsl(220 9% 46% / 0.10);
    --shadow: 0px 4px 12px -2px hsl(220 9% 46% / 0.10), 0px 1px 2px -3px hsl(220 9% 46% / 0.10);
    --shadow-md: 0px 4px 12px -2px hsl(220 9% 46% / 0.10), 0px 2px 4px -3px hsl(220 9% 46% / 0.10);
    --shadow-lg: 0px 4px 12px -2px hsl(220 9% 46% / 0.10), 0px 4px 6px -3px hsl(220 9% 46% / 0.10);
    --shadow-xl: 0px 4px 12px -2px hsl(220 9% 46% / 0.10), 0px 8px 10px -3px hsl(220 9% 46% / 0.10);
    --shadow-2xl: 0px 4px 12px -2px hsl(220 9% 46% / 0.25);
    --tracking-normal: 0px;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2000 32.6000% 17.5000%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2000 32.6000% 17.5000%;
    --muted-foreground: 215 20.2000% 65.1000%;
    --accent: 217.2000 32.6000% 17.5000%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2000 32.6000% 17.5000%;
    --input: 217.2000 32.6000% 17.5000%;
    --ring: 217 91% 60%;
    --chart-1: 217 91% 60%;
    --chart-2: 250 88% 66%;
    --chart-3: 280 85% 64%;
    --chart-4: 160 84% 39%;
    --chart-5: 48 96% 53%;
    --sidebar: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 217 91% 60%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217.2000 32.6000% 17.5000%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2000 32.6000% 17.5000%;
    --sidebar-ring: 217 91% 60%;
    --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.10);
    --shadow-xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.10);
    --shadow-sm: 0px 4px 12px -2px hsl(0 0% 0% / 0.20), 0px 1px 2px -3px hsl(0 0% 0% / 0.20);
    --shadow: 0px 4px 12px -2px hsl(0 0% 0% / 0.20), 0px 1px 2px -3px hsl(0 0% 0% / 0.20);
    --shadow-md: 0px 4px 12px -2px hsl(0 0% 0% / 0.20), 0px 2px 4px -3px hsl(0 0% 0% / 0.20);
    --shadow-lg: 0px 4px 12px -2px hsl(0 0% 0% / 0.20), 0px 4px 6px -3px hsl(0 0% 0% / 0.20);
    --shadow-xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.20), 0px 8px 10px -3px hsl(0 0% 0% / 0.20);
    --shadow-2xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.50);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}